<!DOCTYPE html>

<html>

<head>

<title>
Deepfake Forensic Tool
</title>


<link rel="stylesheet"
href="/static/style.css">


</head>


<body>


<div class="container">


<h1>
🛡 Deepfake Forensic Tool
</h1>


<p>
Digital Evidence Analysis System
</p>



<div class="box">


<h2>
Upload Evidence
</h2>



<form 
action="/analyze"
method="POST"
enctype="multipart/form-data">


<input 
type="file"
name="file"
required>



<br><br>



<button>

START ANALYSIS

</button>


</form>


</div>


</div>


</body>


</html>